[package]
name = "platform"
version.workspace = true
edition.workspace = true
description.workspace = true

[lib]
crate-type = ["rlib"]

[dependencies]
zeroos-macros = { workspace = true }
spike-platform = { workspace = true, optional = true }

[features]
default = []

with-spike = ["spike-platform", "spike-platform?/arch-riscv"]

debug = ["spike-platform?/debug"]
bounds-checks = ["spike-platform?/bounds-checks"]

std = ["spike-platform?/std"]
os-linux = ["spike-platform?/os-linux"]
runtime-musl = ["spike-platform?/runtime-musl"]
backtrace = ["spike-platform?/backtrace"]

vfs = ["spike-platform?/vfs"]
vfs-device-console = ["spike-platform?/vfs-device-console"]
memory = ["spike-platform?/memory"]
thread = ["spike-platform?/thread"]

random = ["spike-platform?/random"]
