[package]
name = "spike-platform"
publish = false
version = "0.2.0"
edition.workspace = true
description = "Spike simulator platform for ZeroOS"

[lib]
crate-type = ["rlib"]

[dependencies]
cfg-if.workspace = true
libc = { workspace = true, optional = true }
htif.workspace = true
debug = { workspace = true }
foundation = { workspace = true }
zeroos = { workspace = true }
scheduler-cooperative = { workspace = true, optional = true }
riscv = { workspace = true }

[features]
default = ["arch-riscv"]

std = [
  "dep:libc",

  "arch-riscv",
  "os-linux",
  "runtime-musl",

  "vfs-device-console",
  "memory",
  "thread",
  "random",
]

debug = ["zeroos/debug"]
bounds-checks = ["zeroos/bounds-checks"]

arch-riscv = ["zeroos/arch-riscv"]
os-linux = ["zeroos/os-linux"]
runtime-musl = ["zeroos/runtime-musl"]
backtrace = ["runtime-musl", "zeroos/backtrace"]

memory = ["zeroos/alloc-linked-list"]
vfs = ["zeroos/vfs"]
vfs-device-console = ["vfs", "zeroos/vfs-device-console"]
thread = ["zeroos/scheduler-cooperative", "dep:scheduler-cooperative"]
random = ["zeroos/rng-lcg"]

[target.'cfg(not(target_os = "none"))'.dependencies]
libc = { workspace = true }
